/ffmpeg
/fribidi
/libass
/libplacebo
/mpv
/build_libs
/ffmpeg_build
*.deb
/debian/changelog
/debian/files
/debian/mpv.debhelper.log
/debian/mpv.postinst.debhelper
/debian/mpv.postrm.debhelper
/debian/mpv.substvars
/config/
/*_options
ffmpeg-4.4.4/
ffmpeg-5.0.3
ffmpeg4.3
ffmpeg-4.3.6.tar.xz
ffmpeg-5.0.3.tar.xz
ffmpeg-4.4.4.tar.xz
ffmpeg-6.0.tar.xz
ffmpeg_/
nv-codec-headers/
